	input{ 
		background-color: white;
		width: 100px;
		font-size: 1.3em;
		text-transform: uppercase;
		}
	#iframelibro{
		background-color:#4485F4;
		display: none;
		/*margin: .2px;*/
		}
	.oculto{
		display: none;
	}
		input{
		width:80px;
	}
	#titulo{
		width: 7em;
	}
	#autor{
		width: 7em;
	}
	th{
		font-size: 1.5em;
		text-align: center;
		background-color: #0e83cd;
		color:white;
		border:1px solid black;
	}
	td{
		font-size: 1.2em;
		text-align: center;	
		border: 1px solid black;
	}
	select{
		font-size: 1.8em;
	}
	.cabeza{
		/*font-size: 1.5em;
		text-align: center;
		background-color: #0e83cd;
		color:white;
		border:1px solid black;*/
	}

	table{
		font-size: .7em;
	}
	#cotizada{
		width: 25px;
	}
	#adquirida{
		width: 25px;
	}
	#recibida{
		width: 25px;
	}
	#existente{
		width: 25px;
	}
