input{ 
		background-color: white;
		width: 100px;
		font-size: 1.3em;
	}
	#iframelibro{
			background-color:#4485F4;
			position: relative;
			left: 1000px;
			/*bottom: 500px;*/
			color:blue;
			font-size: 1.5em;
			width: 1300px;
			height: 40px;
			display: none;
			/*margin: .2px;*/
		}
		input{

		}	
		table {

		}
		.head{
		font-size: 1.2em;
		text-align: center;
		padding: 5px;
		border: 1px solid black;
		background-color: #0e83cd;
		/*border-bottom: 2px solid black;*/
		color:white;
	}
	td{
		font-size: 1.2em;
		text-align: center;	
		border: 1px solid black;
		text-transform: uppercase;
	}
	.oculto{
		display: none;
	}
	#cotizada{
		font-size: 1em;
		text-align: center;
		width: 2em;
	}
	#adquirida{
		font-size: 1em;
		text-align: center;
		width:  2em;
	}
	#recibida{
		font-size: 1em;
		text-align: center;
		width: 2em;
	}
	#existente{
		font-size: 1em;
		text-align: center;
		width:  2em;
	}
	.tablis{
		margin: 10px;
		border:.1em solid white;
		padding: 10px;
		width: 100px;
		text-align: center;
		background-color: blue;
		color: white;
	}
	.tablis:hover{
		border:1px solid black;
		background-color: white;
		color: black;
	}